@font-face {
    font-family: 'Manjari';
    /* font-style: bold; */
    src: url('../../fonts/Manjari//Manjari-Bold.ttf'); /* IE9 Compat Modes */
}

.navbar {
    background-color: #fcfcff;
}

.nav-link {
    color: #000000 !important;
    font-family: 'Manjari';
    font-size: 19px;
    text-decoration: underline solid;
    outline: 0;
}

.nav-link:hover, .nav-link:focus {
    outline: 0;
}

.nav-item {
    scroll-behavior: smooth;
}

.selected {
    color: #696969 !important;
    font-family: 'Manjari';
    font-size: 19px;
    text-decoration: none;
    outline: 0;
}

.selected:hover, .selected:focus {
    outline:0;
}